$mfe-base-color: #3a3634;
$mfe-base-darkened: darken($mfe-base-color, 5%);
$mfe-base-lightened: lighten($mfe-base-color, 25%);

$mfe-earth-blue: #06daf1;
$mfe-earth-green: #07f2bb;

$mfe-earth-blue-new: #06daf1;
$mfe-earth-green-new: #07f2bb;

$mfe-mobile-breakpoint: 768px;

$mfe-header-height: 50px;

$mfe-font-weight: 300;

$mfe-text-color: #292929;