@import '../../sass/variables';

.mfe-moment-container {
  height: 100%;
  .row {
    justify-content: center;
    height: 100%;
  }
}

$letterbox-height: 39px;
.mfe-moment {
  cursor: pointer;
  width: 400px;
  text-decoration: none;
  background-color: $mfe-base-color;
  border-radius: 0.15em;
  color: $mfe-base-lightened;
  border-bottom: 2px solid $mfe-base-darkened;
  border-right: 0px solid $mfe-base-darkened;
  .image-box {
    position: relative;
    max-height: 222px;
    overflow: hidden;
    border-top-left-radius: 0.15em;
    border-top-right-radius: 0.15em;
    .letterbox-top, .letterbox-bottom {
      display: none;
      position: absolute;
      height: $letterbox-height;
      width: 400px;
      background-color: #171717;
      z-index: 50;
      left: 0;
    }
    .letterbox-top {
      top: 0;
      border-top-left-radius: 0.15em;
      border-top-right-radius: 0.15em;
    }
    .letterbox-bottom {
      bottom: 0;
    }
    img {
      position: relative;
      top: -($letterbox-height);
      border-top-left-radius: 0.15em;
      border-top-right-radius: 0.15em;
      width: 400px;
      height: 300px;
    }
  }
  .info {
    padding: 10px;
    h3 {
      color: lighten($mfe-base-lightened, 10%);
    }
  }
  margin: 10px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  .loading-box {
    border-radius: 0.15em;
    background-color: $mfe-base-color;
    border-bottom: 2px solid $mfe-base-darkened;
    padding: 10px;
    height: 100px;
    width: 100px;
    .loading-content {
      border-radius: 0.15em;
      background-color: white;
      padding: 20px
    }
  }
}

@media (max-width: $mfe-mobile-breakpoint) {
  .mfe-moment {
    width: 350px;
    .image-box {
      max-height: 190px;
      img {
        width: 350px;
        height: 263px;
      }
    }
    .info {
      h3, h5 {
        font-size: 0.9rem;
      }
    }
  }
}