<div class="mfe-info-container">
  <div class="mfe-info-panel">
    <h3>Info</h3>
    <div class="text-area">
      <p>
        <em>Moments from Earth</em> is a collaborative video project with a goal to document the everyday world, which we define as anything outside the realm of existing media outlets, including 24/7 news, documentaries, movies, tv shows, web series, podcasts, blogs, and social media. We think moments typically ignored by media can offer a unique and valuable perspective into the planet and our place within it.
      </p>
      <p>
        What is a moment?
      </p>
      <p>
        A moment is an undirected, unedited, unprocessed video of your environment. A moment can have a single subject, or many subjects, or no subject at all, but importantly <em>you</em> cannot be the subject. You are witness to the moment and the camera is your eyes and ears. There should be no speaking into the camera or narration of the action. There should be no unnatural camera movement (anything the human eye cannot do). A moment should immerse the viewer in a specific time and place.
      </p>
      <p>
        We invite you to share your own moments on this site, to shine a light on your particular corner of the everyday, and to give others the opportunity to see what you see and to hear what you hear.
      </p>
      <p>
        Thank you,
      </p>
      <div class="person-box">
        <div class="person"><img src="/assets/images/dan-airport-thumb.jpg"><span>Daniel Stepp</span></div>
        <br>
        <div class="person"><img src="/assets/images/carol-sunlight-thumb.jpg"><span>Luz Carolina Salas Pretelt</span></div>
      </div>
      <div class="contact-email">Contact us at&nbsp;&nbsp;<a href="mailto:admin@momentsfrom.earth">admin@momentsfrom.earth</a></div>      
    </div>
  </div>
</div>
